<div class="sign-up">

<h1>SIGN UP</h1>

<form action="/signup" method="POST" class="sign-up-form">
   <label> Username
      <input type="text" name="username">
   </label>
   <label> Email
      <input type="email" name="email">
   </label>
   <label> Password
      <input type="password" name="password">
   </label>

   <button type="submit">Sign Up</button>
</form>
</div>

</div>


{{#if errorMessage}}
   {{errorMessage}}
{{/if}}
