<h1 id="main-title">Inspiration</h1>
<h2 id="sub-main-title">Welcome</h2>

<p class="subtitle">Here you will find what are the top 5 books and movies of friends and people. The best way to get inspiration of course.</p>



<form action="/" method="POST">
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email address</label>
    <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input type="password" name="password" class="form-control" id="exampleInputPassword1">
  </div>
  <button type="submit" class="btn btn-primary">Submit</a></button>
</form>

<a href="/signup">Sign up</a>


{{#if errorMessage}}
   {{errorMessage}}
{{/if}}



{{!-- <form action="/" method="POST">
   <label> Your mail
      <input type="text" name="mail">
   </label>
   <label> Password
      <input type="password" name="password">
   </label>

   <button type="submit">Submit</button>
</form>

<a href="/signup">Sign up</a>

{{#if errorMessage}}
   {{errorMessage}}
{{/if}} --}}