<h1 id="main-title">Inspiration</h1>


<p class="subtitle">Here you will find what are the top 5 books and movies of friends and people. <br> The best way to get inspiration of course.</p>



<form class="form-log" action="/" method="POST">
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email address</label>
    <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input type="password" name="password" class="form-control" id="exampleInputPassword1">
  </div>
  <button type="submit" class="btn btn-dark">Submit</a></button>
</form>

<div class="sign-up">
<a  href="/signup">Sign up</a>
</div>

{{#if errorMessage}}
   {{errorMessage}}
{{/if}}


