<h1>Creating new Book</h1>

<form action="/home/user/edit/user-create" method="POST">
   <label> Title:
      <input type="text" name="title">
   </label>
   <label> Author:
      <input type="text" name="author">
   </label>
   <label> Cover:
       <input type="text" name="cover">
   </label>

   <button type="submit">create</button>
</form>

{{!-- {{#if errorMessage}}
   {{errorMessage}}
{{/if}} --}}