@font-face {
  font-family: 'Simplifica'!important;
  font-style: normal !important;
  font-weight: normal !important;
  src: local('Simplifica'), url('SIMPLIFICA Typeface.woff') format('woff') !important;
  }

body {
  background-color: #f7efea;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #C69B7B;
}

h1 {
  color: 15px;
}

.navbar{
  background-color: #3A3845 !important;
  /* color: #f7e2d2 */
}

.main-body{
  padding: 30px;
}

 .navbar-link{
  color: #f7e2d2 !important;
}

.navbar-light .navbar-brand{
  color: #f7efea !important;
}

.navbar-light .navbar-nav .nav-link{
  color: #f7efea !important;
}
