body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

h1 {
  color: 15px;
}

.container-fluid{
  background-color: lightgray;
}

.main-body{
  padding: 30px;
}