@font-face {


  font-family: 'Roboto', sans-serif;
  font-family: 'Rubik Glitch', cursive;
  font-family: 'Rubik Glitch', cursive;
  font-family: 'Simplifica'!important;
  font-style: normal !important;
  font-weight: normal !important;
  src: local('Simplifica'), url('SIMPLIFICA Typeface.woff') format('woff') !important;
  }

body {
  background-color: #FFEBC1;
  font-family: "Roboto";
}

a {
  color: #000000;
}

h1 {
  color: 15px;
}

.navbar{
  background-color: #6d9886 !important;
  /* color: #f7e2d2 */
}

.main-body{
  padding: 30px;
}

 .navbar-link{
  color: #ffffff !important;
}

.navbar-light .navbar-brand{
  color: #fcfcfc !important;
}

.navbar-light .navbar-nav .nav-link{
  color: #fafafa !important;
}

#main-title{
  font-family: "Rubik Glitch";
  text-align: center;
  font-size: 10em;
  color: #D7A86E;
  height: 250px;
  padding-top: 150px;
}


.subtitle {
  margin-top: 150px;
  text-align: center;
  font-size: 1.5em;
  color: #6d9886;
  font-weight: 700;
}

.form-log {
 margin:100px 0 0 0;
 text-align: center;
}

.sign-up {
  margin-top: 50px;
  text-align: center;
}


.form-control {
  width: 300px;
  margin: auto;
}
